/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/*
.export-properties-block table,
.export-properties-block th,
.export-properties-block td {
  border: none !important;
  outline: none !important;
  border-collapse: collapse !important;
}
*/

.popover.hover-popover .export-properties-block {
  display: none;
}